@media(max-width: 768px) {
    .enviar {
        justify-content: center;
    }

    form {
        gap: 40px;
    }

    .input-text {
        font-size: 24px;
        border-radius: 10px;
        height: 60px;
        padding: 10px;
    }

    .date {
        gap: 15px;
    }

    .align-content {
        padding: 50px 25px;
    }

    button[type="submit"] {
        width: 80px;
        height: 80px;
        background-size: 35px;
    }
}