* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 0%, 86%);
}

main {
    margin: 0 auto;
    max-width: 1440px;
}

.align-content {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px 20px 80px 20px;
    background-color: white;
    padding: 50px;
}

form {
    display: flex;
    max-width: 800px;
    flex-direction: column;
}

.date {
    display: flex;
    gap: 40px;
}

.day,
.month,
.year {
    max-width: 180px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.day label,
.month label,
.year label {
    color: hsl(0, 1%, 44%);
    font-size: clamp(10px, 1vw + 10px, 18px);
    letter-spacing: 2px;
}

.text-label.ativa {
    color: hsl(0, 100%, 67%);
}

.input-text {
    border: 1px solid hsla(0, 1%, 76%, 0.753);
    border-radius: 5px;
    font-weight: 800;
    width: clamp(98px, 100%, 180px);
    height: 70px;
    font-size: 32px;
    padding: 20px;
}
.input-text.active {
    border: 1px solid hsl(0, 100%, 67%);
}



button[type="submit"] {
    z-index: 1;
    background-image: url("./assets/images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-color: hsl(259, 100%, 65%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.enviar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}


.enviar img {
    align-content: center;
}

#line {
    z-index: 0;
    left: 0;
    position: absolute;
    background-color: hsla(0, 0%, 84%, 0.76);
    width: clamp(300px, 100%, 800px);
    height: 2px;
}

.show-date {
    font-style: italic;
    font-weight: 800;
    font-size: clamp(30px, 7vw + 30px, 100px);
}

#dia,
#mes,
#ano {
    color: hsl(259, 100%, 65%);
}

.error {
    display: none;
    font-size: 14px;
    color: hsl(0, 100%, 67%);
    font-weight: lighter;
}

.error.show {
    display: block;
}